<div class="container">
  <div class="content-body">
    <div class="navbar">
      <div class="nav-btn">
        <button class="btn" (click)="onAddTask()">Add Task</button>
        <button class="btn" (click)="onLogout()">Logout</button>
      </div>
    </div>
    <div class="task-list">
      <ol>
        <li appHighlight *ngFor="let task of tasks">
          <div class="task-content">
            <p class="title">{{ task.title }}</p>
            <p class="description">{{ task.description | truncate : 30 }}</p>
          </div>
          <div class="task-actions">
            <button class="delete-btn" (click)="onDelete(task.id)">
              delete
            </button>
            <button class="btn" (click)="onEdit(task.id)">edit</button>
          </div>
        </li>
      </ol>
    </div>
  </div>
  <div class="modal">
    <app-upsert
      *ngIf="isUpsert"
      (closeModalEvent)="isUpsert = $event"
      [actionPayload]="payload"
    >
    </app-upsert>
  </div>
</div>
