<div class="upsert-body">
  <div class="upsert-content">
    <div class="btn-container">
      <button class="close-btn" (click)="closeModal()">X</button>
    </div>
    <p class="action-title">{{ actionPayload.action | uppercase }}</p>

    <input
      type="text"
      value="{{ title }}"
      [(ngModel)]="title"
      placeholder="Title"
    />
    <input
      type="text"
      value="{{ description }}"
      [(ngModel)]="description"
      placeholder="Description"
    />
    <button class="action-btn" (click)="performAction(actionPayload)">
      {{ actionPayload.action | uppercase }}
    </button>
  </div>
</div>
